.team_content{
    margin: 0 10px 0 10px;

}

.name_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: 60px;
  }

.team_member1{
    display: flex;
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
}

.team_member2{
    display: flex;
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
}

.team_member3{
    display: flex;
    grid-column: 1;
    grid-row: 3;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
}

.team_member4{
    display: flex;
    grid-column: 1;
    grid-row: 4;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
}

.johanne_img { 
    display: none;
    grid-column: 2; 
    grid-row: span 3; 
}

.adi_img{
    display:none;
    grid-column: 2; 
    grid-row: span 3;
}

.anatole_img{
    display:none;
    grid-column: 2; 
    grid-row: span 3;
}

.kobe_img {
    display:none;
    grid-column: 2; 
    grid-row: span 3;
}


.team_member1:hover + .johanne_img{
    display: block;
    animation: fadeIn 1s;
}

.team_member2:hover + .adi_img{
    display: block;
    animation: fadeIn 1s;
}

.team_member3:hover + .anatole_img{
    display: block;
    animation: fadeIn 1s;
}

.team_member4:hover + .kobe_img{
    display: block;
    animation: fadeIn 1s;
}

.team_heading{
    margin-bottom: 0;
}

.hover_message{
    margin-top: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
